@font-face {
  font-family: "airstreamregular";
  src: url("fonts/Airstream/Airstream.eot");
  src: url("fonts/Airstream/Airstream.eot?#iefix") format("embedded-opentype"),
        url("fonts/Airstream/Airstream.woff") format('woff'),
        url('fonts/Airstream/Airstream.ttf') format('truetype'),
        url('fonts/Airstream/Airstream.svg#airstreamregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html,body{
  height: 100%;
  /* overflow: hidden; */
}
body{
  display: flex;
  flex-direction: column;

  font-size: 10px;
  background-color: rgb(149, 194, 215);
}
a{
  text-decoration: none;
}
.main-header{
  flex: 0 1 auto;
}
.main-content{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.thumbnail-image{
  width: 100%;
  display: block;
  /* height: 80%; */
}
.thumbnail-title{
  display: block;
  margin: 0;
  padding: 4px 10px;
  background-color: lightgrey;
  color: white;
  font-size: 18px;
  /* height: 20%; */
}
.logo-text{
  background-color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: serif;
  font-size: 28px;
  /* padding: 0; */
  /* margin: 0; */
}
.thumbnail-list{
  list-style: none;
  padding: 20px 0;
  white-space: nowrap;
  overflow-x: auto;
  display: flex;
  flex: 0 1 auto;
  order: 2;
  justify-content: space-between;
}
.thumbnail-item{
  display: inline-block;
  /* width: 120px; */
  min-width: 120px;
  max-width: 120px;
  border: 1px solid rgb(100%, 100%, 100%);
  border: 1px solid rgba(100%, 100%, 100%,0.8);

  /* transform: scale(1.2); */
  /* -webkit-transition: transform 133ms ease-in-out; */
  /* -o-transition: transform 133ms ease-in-out; */
  transition: transform 133ms ease-in-out;
}
.thumbnail-item:hover{
  transform: scale(1.2);
  /* transition: transform 1000ms ease-in; */
}
/* .thumbnail-item + .thumbnail-item{
  margin-top: 10px;
} */
.detail-image-container{
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail-image-frame{
  position: relative;
  text-align: center;
  transition: transform 333ms cubic-bezier(1, .06, .28,1);
}
.is-tiny{
  transform: scale(0.001);
  /* -webkit-transition: transform 0ms; */
  /* -o-transition: transform 0ms; */
  transition: transform 0ms;
}
.detail-image{
  width: 90%;
  cursor: pointer;
}
.detail-image-title{
  position: absolute;
  bottom: -16px;
  left: 4px;
  padding: 4px 10px;
  font-size: 40px;
  font-family: airstreamregular;
  color: white;
}
.hidden-detail .detail-image-container{
  display: none;
}
.hidden-detail .thumbnail-list{
  flex-direction: column;
  text-align: center;
}
.hidden-detail .thumbnail-item{
  max-width: 80%;
}
@media all and (min-width: 1025px) {
  .main-content{
    flex-direction: row;
    overflow-x: hidden;
  }
  .thumbnail-list{
    flex-direction: column;
    order: 0;
    margin-left: 10px;
    padding: 0 35px;

  }
  .thumbnail-list::-webkit-scrollbar{
    display:none;
  }
  .thumbnail-item{
    max-width: 260px;
  }
  .thumbnail-item + .thumbnail-item{
    margin-top: 10px;
  }
}
@media all and (orientation: landscape) {
  .main-content{
    flex-direction: row;
    overflow-x: hidden;
  }
  .thumbnail-list{
    flex-direction: column;
    order: 0;
    margin-left: 10px;
    padding: 0 25px;
  }
  .thumbnail-list::-webkit-scrollbar{
    display:none;
  }
  .thumbnail-item{
    max-width: 180px;
  }
  .thumbnail-image{
    /* display: block; */
    width: 100%;
  }
  .thumbnail-item + .thumbnail-item{
    margin-top: 10px;
  }
  /* .detail-image-container{
    flex: 0 1 auto;
  } */
  .hidden-detail .detail-image-container{
    display: none;
  }
  .hidden-detail .thumbnail-list{
    flex-direction: column;
    text-align: center;
    margin: auto;
  }
  .hidden-detail .thumbnail-item{
    max-width: 80%;
  }
}
